
#nome-titulo{
    color:white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-fluid{
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);} 

body{
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}
.fixed-bottom{
    bottom: 10%;
}

.nav-link{
 
}

.fa::after{
    width: 200px;

}

.fa::before{
    width: 200px;

}

.img{
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
} 

.assuntos{
    font-size: 16px;
    padding-right: 10px;
    text-decoration: none;
    color:black;
    padding-top: 200px;
    padding-left:10px;
}

a:hover{
    color: white;
     
}

.navbar-brand{
    margin-bottom: 5%;

}

.bg-dark  {
    background-color: #8d99ae!important;
    
}

.form-group{
    background:white;
    width:50%;
    height:20%;
    border-radius:20px;
    margin-left:10px;
    margin-top:20px;
    padding-left:10px;
}


#form{
  display:inline;
}


/* banner*/


#textinho{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px 6px rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    line-height: 60px;

}

/* serviços*/
.srvs{
    height: 100%;
    width: 100%;

}

.nome-instagramg{
    margin-right:140px;
    padding-left: 50px ;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.nome-instagrame{
    margin-right:120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.nome-instagramj{
    padding-left: 20px ;
    padding-right:120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.instag{
    width: 50px;
    height: auto;
    margin-right:200px;

}

.instae{
    width: 50px;
    height: auto;
    margin-right:200px;

}

.instaj{
    width: 50px;
    height: auto;
    margin-right:80px;

}

.srvs h2{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: bold;
}

.srvs li{
  
    margin-left: 30%;
}

.serv-img{
    margin: 0;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 20px;
    height: 20%;
    width: auto;
}

.serv-img h3{
    font-family: Verdana;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.serv-img p{
    font-family: Verdana;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 10px;
    line-height: 35px;
}


.ass h2{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgb(37, 37, 37);
}
.ass h3{
    color: white;
    text-shadow: 2px 3px 6px rgb(37, 37, 37);
    line-height: 25px;
    
}
.inner {
    display: block;
   border-radius: 6px;
   font-size: 18px;
   font-weight: 700;
   width: 100%;
   color: #04090e;
   height: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
}

.ass{
    margin: 0;
}
#clicavel{
    cursor: pointer;
    }
    
    #clicavel:hover{
        box-shadow: #04090e;
    }
    
.outer {
    padding: 2px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(to right, #04a6f3, #0072ff);
    width: 150px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.assS li{
    display: inline-block;
    margin-left: 30%;
}

.assS h3{
    color: white;
    text-shadow: 2px 3px 6px rgb(37, 37, 37);
    line-height: 25px;
}

.ner {
    display: block;
   border-radius: 6px;
   font-size: 18px;
   font-weight: 700;
   width: 100%;
   color: #04090e;
   height: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
}
.item{
    right: 0;
    left: auto;
    position:fixed;
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
}
.fixed-bottom{
    position: relative;
}
.carousel-control-prev-icon{
    color: #04090e;
}
.outerS {
    padding: 2px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(to right, #04a6f3, #0072ff);
    width: 150px;
    margin-left: 65px;
    margin-bottom: 20px;
}

